@use "sass:map";

@font-face {
    font-family: "Fira Code";
    src: url("../resource/fonts/Fira_Code_v6.2.ttf");
}

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background-color: white;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
}

#controls {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 25px;
    background-color: #F0F0F0;
}
#controls-primary {
    display: flex;
    flex-direction: row;
    justify-content: start;
    height: 100%;
    padding: 0 5vw 0 1vw;
}
#controls-filler {
    flex-grow: 1;
}
#controls-secondary {
    display: flex;
    flex-direction: row;
    justify-content: end;
    padding: 0 1vw 0 5vw;
    height: 100%;
    gap: 10px;
}
#content {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.panel {
    position: relative;
    box-sizing: border-box;
    flex-basis: 50%;
    flex-grow: 1;
    min-width: 0; // makes flex-basis work for whatever reason
}
#editor *,
#preview pre *,
#preview code * {
    font-family: 'Fira Code', 'Courier New', Courier, monospace !important;
}
#editor {
    overflow-wrap: break-word;
    height: 100%;
    background-color: white;
}
#divider {
    position: absolute;
    left: calc(50% - 2px);
    top: 0;
    bottom: 0;
    z-index: 1;
    width: 4px;
    background-color: transparent;
}
#divider:hover {
    background-color: rgba(0, 0, 0, 0.05);
    cursor: ew-resize;
}
#preview {
    height: 100%;
    padding: 4vh 6vw;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    background-color: white;
    overflow: auto;
}

.cm-editor {
    height: 100%;
}
.cm-gutters {
    border-right: none !important;
    background-color: #FFFFFF !important;
}
.cm-lineNumbers {
    color: rgba(0, 0, 0, 0.35) !important;
    background-color: #F9F9F9 !important;
    padding-right: 2px;
}
.cm-foldGutter {
    padding-left: 4px;
    padding-right: 4px;
}
.cm-activeLineGutter {
    background-color: transparent !important;
    color: rgba(0, 0, 0, 0.725) !important;
}
.cm-activeLine {
    background-color: rgba(0, 0, 0, 0.025) !important;
}

.dropdown-container {
    position: relative;
    height: 100%;
}
.dropdown-menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 100%;
    left: 4px;
    width: fit-content;
    height: fit-content;
    padding: 5px 2px;
    border-radius: 11px;
    border: 1px solid rgba(128, 128, 128, 0.15);
    backdrop-filter: blur(12.5px) brightness(100%);
    transform: translateX(-9999px);
    opacity: 0;
    transition: opacity 64ms;
    z-index: 1;
}
.dropdown-button {
    all: unset;
    border-radius: 8px;
    padding: 0.5px 10px;
    margin: 2.5px;
    height: calc(100% - 6px);
    font-size: 0.8425em;
    transition: background-color 0.2s;
}
.dropdown-button:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.1);
}
.dropdown-menu-button {
    color: black;
    white-space: nowrap;
    border-radius: 6px;
}
.dropdown-menu-button:hover {
    background-color: rgba(0, 0, 0, 0.1);
}